body {
    display: flex;
    justify-content: center;
}

content {
    display: flex;
    flex-direction: column;
}

#infoBox {
    display: flex;
    justify-content: space-between;
}

.answers {
    text-align: right;
}